<!-- Full Page Search -->
<div id="full-page-search">
    <button type="button" class="close">×</button>
    
    {% comment %}
    <form action="https://storage.googleapis.com/theme-vessel/carhouse/index.html#" class="search-header">
        <input type="search" value="" placeholder="type keyword(s) here" />
        <button type="submit" class="btn btn-sm button-theme">Search</button>
    </form>
    {% endcomment %}
        



    <form action="{% url 'search' %}" class="search-header">
        <input type="search" value="" required placeholder="type keyword(s) here.Eg: land or plot etc" name='keyword' />
        <button type="submit" class="btn btn-sm button-theme">Search</button>
    </form>
</div>