{% extends 'base.html' %}


{% block title %}
    About | Shanti Properties Ltd
{% endblock title %}
    

{% block content %}
{% load static %}
<div class="sub-banner overview-bgi" style="background-image: url({{globalapp_info.about_poster.url}});">
    <div class="container breadcrumb-area">
        <div class="breadcrumb-areas">
            <h1>About Us</h1>
            <ul class="breadcrumbs">
                <li><a href="{% url 'home' %}">Home</a></li>
                <li class="active">About Us</li>
            </ul>
        </div>
    </div>
</div>
<!-- Sub Banner end -->

<!-- Service center strat -->
<div class="about-car content-area-5">
    <div class="container">
        <div class="row">
            <div class="col-xl-5 col-lg-6">
                <div class="about-car-photo">
                    <div id="carDetailsSlider" class="carousel car-details-sliders slide">
                        <!-- main slider carousel items -->
                        <div class="carousel-inner">
                            <div class="active item carousel-item" data-slide-number="0">
                                <img src="{{about.image_1.url}}" class="img-fluid" alt="slider-car">
                            </div>
                            <div class="item carousel-item" data-slide-number="1">
                                <img src="{{about.image_2.url}}" class="img-fluid" alt="slider-car">
                            </div>
                            <div class="item carousel-item" data-slide-number="2">
                                <img src="{{about.image_3.url}}" class="img-fluid" alt="slider-car">
                            </div>
                        </div>
                        <!-- main slider carousel nav controls -->
                        <ul class="carousel-indicators car-properties list-inline nav nav-justified">
                            <li class="list-inline-item active">
                                <a id="carousel-selector-0" class="selected" data-slide-to="0" data-target="#carDetailsSlider">
                                    <img src="{{about.image_1.url}}" class="img-fluid" alt="small-car">
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a id="carousel-selector-1" data-slide-to="1" data-target="#carDetailsSlider">
                                    <img src="{{about.image_2.url}}" class="img-fluid" alt="small-car">
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a id="carousel-selector-2" data-slide-to="2" data-target="#carDetailsSlider">
                                    <img src="{{about.image_3.url}}" class="img-fluid" alt="small-car">
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-xl-7 col-lg-6 align-self-center">
                <div class="best-used-car">
                    <h3>Welcome to <span>{{about.name}}</span></h3>
                    <p style="text-align: justify;">
                        {{about.short_descripton | safe}}
                    </p>
                </div>
            </div>
            <div style="text-align: justify; margin-top: 15px;">
                {{about.long_descripton | safe }}
            </div>
        </div>
    </div>
</div>
<!-- Service center end -->



<!-- Our team start -->
{% include 'include/team.html' with team=team %}
<!-- Our team end -->



<!-- Footer start -->

<!-- Footer end -->

<!-- Full Page Search -->


<!-- Car Overview Modal -->


{% endblock content %}
    