{% extends 'base.html' %}

{% block title %}
Shanti Properties Ltd
{% endblock title %}


{% block content %}
{% load static %}
{% load custom_filters %}
{% load humanize %}
<!-- Banner start -->
<div class="banner" id="banner">
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner banner-slider-inner text-center">


            {% for single_land in land %}
            <div class="carousel-item banner-max-height {% if forloop.first %} active {% endif %} item-bg">
                <img class="d-block w-100 h-100" src="{{single_land.image.url}}" alt="banner">
                <div class="carousel-content container banner-info-2 bi-2 text-left">
                    <h3>{{single_land.name| truncatechars:20}}</h3>
                    <h5>{{single_land.short_description | insert_line_breaks |truncatechars:150 | safe }}</h5>
                    <a href="{% url 'land_details' single_land.name_slug %}" class="btn btn-lg btn-theme">Read more</a>
                </div>
            </div>
            {% endfor %}
        </div>
        <!-- Search box 3 start -->
        <div class="search-box-4 sb-8">
            <form action="{% url 'search' %}" method="GET">
                <div class="form-group">
                    <input type="text" name="keyword"  placeholder="Search by name" class="form-control">
                </div>
                <div class="form-group">
                    <select class="form-control search-fields"  name="purpose_land">
                        <option selected="true" disabled="disabled">Purpose</option>
                        {% for purpose_land in purpose_land %}
                        <option value="{{purpose_land}}">{{purpose_land}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group">
                    <select class="form-control search-fields" name="completion_land">
                        <option selected="true" disabled="disabled">Complation</option>
                        {% for completion_land in completion_land %}
                        <option value="{{completion_land}}">{{completion_land}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group">
                    <select class="form-control search-fields" name="location_land">
                        <option selected="true" disabled="disabled">Location</option>
                        {% for location_land in location_land %}
                        <option value="{{location_land}}">{{location_land}}</option>
                        {% endfor %}
                    </select>
                </div>

                <div class="form-group">
                    <select class="form-control search-fields" name="property_type_land">
                        <option selected="true" disabled="disabled">Select Type Of Land or Plot</option>
                        {% if property_type_land %}
                        {% for property_type_land in property_type_land %}
                        <option value="{{property_type_land}}">{{property_type_land}}</option>
                        {% endfor %}
                        {% else %}
                        <option value=""></option>
                        {% endif %}
                    </select>
                </div>
                <div class="range-slider clearfix">
                    <label>Price</label>
                    <div data-min="0" data-max="100000000" data-min-name="min_price" data-max-name="max_price"
                        data-unit="TK" class="range-slider-ui ui-slider" aria-disabled="false"></div>
                    <div class="clearfix"></div>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-block button-theme btn-md">
                        <i class="fa fa-search"></i> Search
                    </button>
                </div>
            </form>
        </div>
        <!-- Search box 3 end -->
        <a class="carousel-control-prev none-580" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="slider-mover-left" aria-hidden="true">
                <i class="fa fa-angle-left"></i>
            </span>
        </a>
        <a class="carousel-control-next none-580" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="slider-mover-right" aria-hidden="true">
                <i class="fa fa-angle-right"></i>
            </span>
        </a>
    </div>
</div>
<!-- Banner end -->

<!-- Search box 2 end -->

<!-- Featured car start -->
<div class="featured-car content-area-5">
    <div class="container">
        <!-- Main title -->
        <!-- Main title -->
        <div class="main-title row">
            <h1 class="col-md-12">Featured <span>Land's Plot</span></h1>
            <p class="offset-md-2 col-md-8 h3">{{globalapp_info.featured_title}}</p>
        </div>
        <!-- Slick slider area start -->
        <div class="slick-slider-area clearfix">
            <div class="row slick-carousel"
                data-slick='{"slidesToShow": 3, "responsive":[{"breakpoint": 1024,"settings":{"slidesToShow": 2}}, {"breakpoint": 768,"settings":{"slidesToShow": 1}}]}'>

                {% for featured in featured %}
                <div class="slick-slide-item">
                    <div class="car-box-3">
                        <div class="car-thumbnail">
                            <a href="{% url 'land_details' featured.name_slug %}" class="car-img">
                                <div class="tag-2">Featured</div>
                                <div class="price-box">

                                    <span> {{featured.price_total | intcomma }} TK </span>
                                </div>
                                <img style="height: 220px;" class="d-block w-100" src="{{featured.image.url}}" alt="car">
                            </a>
                            <div class="carbox-overlap-wrapper">
                                <div class="overlap-box">
                                    <div class="overlap-btns-area">
                                        <div class="car-magnify-gallery">

                                            <a href="{{featured.image.url}}" class="overlap-btn">
                                                <i class="fa fa-expand"></i>
                                                <img class="hidden" src="{{featured.image.url}}">
                                            </a>

                                            {% if featured.image_1 %}
                                            <a href="{{featured.image_1.url}}" class="hidden">
                                                <img class="hidden" src="{{featured.image_1.url}}">
                                            </a>
                                            {% endif %}

                                            {% if featured.image_2 %}
                                            <a href="{{featured.image_2.url}}" class="hidden">
                                                <img class="hidden" src="{{featured.image_2.url}}">
                                            </a>
                                            {% endif %}
                                            {% if featured.image_3 %}
                                            <a href="{{featured.image_3.url}}" class="hidden">
                                                <img class="hidden" src="{{featured.image_3.url}}">
                                            </a>
                                            {% endif %}
                                            {% if featured.image_4 %}
                                            <a href="{{featured.image_4.url}}" class="hidden">
                                                <img class="hidden" src="{{featured.image_4.url}}">
                                            </a>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="detail">
                            <h1 class="title">
                                <a href="{% url 'land_details' featured.name_slug %}">
                                    {{featured.name}}
                                </a>
                            </h1>
                            <div class="location">
                                <a href="{% url 'land_details' featured.name_slug %}">
                                    <i class="flaticon-pin"></i> {{featured.area}} {{featured.location}}
                                </a>
                            </div>
                            <ul class="facilities-list clearfix">
                                <li>
                                    {{featured.purpose}}
                                </li>
                                <li>
                                    {{featured.completion}}
                                </li>
                                <li>
                                    {{featured.location}}
                                </li>

                            </ul>
                        </div>
                    </div>
                </div>
                {% empty %}
                <h2>No Freatuared Land</h2>
                {% endfor %}



            </div>
            <div class="slick-btn">
                <div class="slick-prev slick-arrow-buton sab-4">
                    <i class="fa fa-angle-left"></i>
                </div>
                <div class="slick-next slick-arrow-buton sab-3">
                    <i class="fa fa-angle-right"></i>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Featured land plot end -->

<!-- Rent land start -->
<div class="featured-car content-area">
    <div class="container">
        <!-- Main title -->
        <div class="main-title row">
            <h1 class="col-md-12">Latest <span>Land's Plot</span></h1>
            <p class="offset-md-2 col-md-8 h3">{{globalapp_info.latest_title}}</p>
        </div>
        <div class="row">

            {% for latest in latest %}
            <div class="col-lg-4 col-md-6">
                <div class="car-box">
                    <div class="car-thumbnail">
                        <a href="{% url 'land_details' latest.name_slug %}" class="car-img">
                            <div class="tag">For Sale</div>
                            <img style="height: 220px;" class="d-block w-100" src="{{latest.image.url}}" alt="car">
                            <div class="facilities-list clearfix">
                                <ul>
                                    <li>
                                        <span><i class="flaticon-way"></i></span>SRF-{{latest.reference_id}}
                                    </li>
                                    <li>
                                        <span><i class="flaticon-calendar-1"></i><a class="text-white" target="_blank"
                                                href="{{latest.google_map}}">Map</a></span>
                                    </li>
                                    <li>
                                        <span><i class="flaticon-manual-transmission"></i></span>Manual
                                    </li>
                                </ul>
                            </div>
                        </a>
                        <div class="carbox-overlap-wrapper">
                            <div class="overlap-box">
                                <div class="overlap-btns-area">
                                    <div class="car-magnify-gallery">
                                        <a href="{{latest.image.url}}" class="overlap-btn">
                                            <i class="fa fa-expand"></i>
                                            <img class="hidden" src="{{latest.image.url}}">
                                        </a>

                                        {% if latest.image_1 %}
                                        <a href="{{latest.image_1.url}}" class="hidden">
                                            <img class="hidden" src="{{latest.image_1.url}}">
                                        </a>
                                        {% endif %}
                                        {% if latest.image_2 %}
                                        <a href="{{latest.image_2.url}}" class="hidden">
                                            <img class="hidden" src="{{latest.image_2.url}}">
                                        </a>
                                        {% endif %}
                                        {% if latest.image_3 %}
                                        <a href="{{latest.image_3.url}}" class="hidden">
                                            <img class="hidden" src="{{latest.image_3.url}}">
                                        </a>
                                        {% endif %}
                                        {% if latest.image_4 %}
                                        <a href="{{latest.image_4.url}}" class="hidden">
                                            <img class="hidden" src="{{latest.image_4.url}}">
                                        </a>
                                        {% endif %}


                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="detail">
                        <h1 class="title">
                            <a href="{% url 'land_details' latest.name_slug %}">{{latest.name}}</a>
                        </h1>
                        <div class="location">
                            <a href="{% url 'land_details' latest.name_slug %}">
                                <i class="flaticon-pin"></i>{{latest.area}}, {{latest.location}}
                            </a>
                        </div>
                    </div>
                    <div class="footer clearfix">
                        <div class="pull-left ratings days">
                            <p class="cartype">{{latest.completion | upper}}</p>
                        </div>
                        <div class="pull-right">
                            <p class="price"> {{latest.price_total | intcomma }} TK</p>
                        </div>
                    </div>
                </div>
            </div>
            {% empty %}
            <h2>No Item Yet</h2>
            {% endfor %}





        </div>
    </div>
</div>
<!-- Rent car end -->


<!-- Our team start -->
{% include 'include/team.html' with team=team %}
<!-- Our team end -->
{% endblock content %}